figure {
  @apply relative overflow-hidden;
}
figure img {
  @apply border-0 object-cover h-full w-full;
}
figure:hover figcaption {
  transform: translate3d(0, 0, 0);
}
figcaption {
  transition: .3s transform;
  @apply absolute text-3xl p-3 opacity-80 bottom-0 left-0 right-0 text-white bg-black;
}
@media (min-width: 768px) {
  figcaption {
    transform: translate3d(0, 100%, 0);
  }
}
.movie-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6;
}
main.closed .movie-grid {
  transition: .6s transform;
  transform: translate3d(0, 0, 0);
  width: 100vw;
}
main.opening .movie-grid {
  transition: .6s transform;
  transform: translate3d(var(--xshift), 0, 0);
  width: 100vw;
}
main.open .movie-grid {
  width: calc(100vw - var(--xshift));
  margin-left: var(--xshift);
  @apply lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4;
}
main.open .movie-grid, main.opening .movie-grid {
  --xshift: 0vw;
}
@media (min-width: 1586px) {
  main.open .movie-grid, main.opening .movie-grid {
    --xshift: 33vw;
  }
}
@media (min-width: 1280px) and (max-width: 1536px) {
  main.open .movie-grid, main.opening .movie-grid  {
    --xshift: 40vw;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  main.open .movie-grid, main.opening .movie-grid  {
    --xshift: 50vw;
  }
}
