@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 100%;
}
input::-ms-clear {
  display: none;
}
*:focus, *:active {
  outline: none !important;
}
html {
  cursor: default;
  min-height: 100vh;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialised;
  text-rendering: optimizeLegibility;
  @apply bg-red-900;
}
body {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}
.btn-icon {
  @apply rounded-full bg-red-700 border-2 border-solid;
  @apply border-red-700 p-1 text-red-50;
  @apply hover:bg-yellow-50 hover:text-red-700;
}
.btn-icon:active {
  @apply bg-red-900 border-red-900 active:text-red-50;
}
.btn {
  @apply rounded-lg border-2 border-solid border-red-700;
  @apply text-center text-red-700 cursor-pointer;
  @apply hover:bg-red-700 hover:text-red-50;
  @apply active:bg-red-900 active:border-red-900;
  transition: background .3s, border .3s, color .3s;
}
.btn.selected {
  @apply bg-red-200 text-red-900 border-red-200;
  @apply hover:bg-red-700 hover:text-red-50;
  @apply active:bg-red-900 active:border-red-900 active:text-red-50;
}
.fieldgrid {
  @apply grid grid-cols-2 sm:grid-cols-3
}
.textInput {
  @apply h-10 w-full rounded-lg border-2 border-solid border-red-700 px-2;
  @apply bg-yellow-50 text-red-700 focus:border-red-500 focus:text-red-500;
  transition: background .3s, border .3s, color .3s;
}
.textInput::placeholder {
  @apply text-red-400;
}
.textInput:focus+ul *, ul:focus *, ul:focus-within * {
  display: flex;
}
.textInput:focus+ul, ul:focus, ul:focus-within {
  bottom: initial;
}
.textInput:focus+.empty, .empty:focus, .empty:focus-within {
  bottom: 0;
}
