@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 100%;
}
.z-50 {
  z-index: 50;
}
.z-100 {
  z-index: 100;
}
::selection {
  @apply bg-red-900 text-yellow-50;
}
input::-ms-clear {
  display: none;
}
*:focus, *:active {
  outline: none !important;
}
html {
  cursor: default;
  min-height: 100vh;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialised;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto Condensed', sans-serif;
  @apply bg-black;
}
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
.grid-view + footer {
  @apply hidden;
}
main > section:first-child {
  min-height: 100vh;
}
.blur {
  filter: blur(8px);
}
img {
  transition: .3s filter;
}
.btn-icon {
  @apply rounded-full bg-red-700 border-2 border-solid;
  @apply border-red-700 p-1 text-red-50;
  @apply hover:bg-yellow-50 hover:text-red-700;
}
.btn-icon:active {
  @apply bg-red-900 border-red-900 active:text-red-50;
}
.btn-icon svg {
  @apply fill-current;
}
.btn {
  @apply rounded-lg border-2 border-solid border-red-700;
  @apply text-center text-red-700 cursor-pointer;
  @apply hover:bg-red-700 hover:text-red-50;
  @apply active:bg-red-900 active:border-red-900;
  transition: background .3s, border .3s, color .3s;
}
.btn.selected {
  @apply bg-red-200 text-red-900 border-red-200;
  @apply hover:bg-red-700 hover:text-red-50;
  @apply active:bg-red-900 active:border-red-900 active:text-red-50;
}
.fieldgrid {
  @apply grid grid-cols-2 sm:grid-cols-3
}
.textInput {
  @apply h-10 w-full rounded-lg border-2 border-solid border-red-700 px-2;
  @apply bg-yellow-50 text-red-700 focus:border-red-500 focus:text-red-500;
  transition: background .3s, border .3s, color .3s;
}
.textInput::placeholder {
  @apply text-red-400;
}
.textInput+ul li span {
  max-width: 50%;
  @apply text-right;
}
.textInput:focus+ul li, ul:focus li, ul:focus-within li {
  display: flex;
}
.textInput:focus+ul, ul:focus, ul:focus-within {
  bottom: initial;
}
.textInput:focus+.empty, .empty:focus, .empty:focus-within {
  bottom: 0;
}
.trailer {
  --width: 100%;
}
.video-container {
  width: var(--width);
  padding-bottom: calc(0.5625 * var(--width));
}
@media (min-width: 768px) {
  .trailer {
    --width: 90%;
  }
}
.trailer video {
  width: var(--width);
}
.details-list a, .no-results a, #home a {
  position: relative;
  overflow: hidden;
  display: inline-flex;
}
.details-list a::before, .details-list a::after, .no-results a::before, .no-results a::after, #home a::before, #home a::after, footer a::before, footer a::after {
  content: "";
  position: absolute;
  height: .05em;
  width: 100%;
  bottom: .05em;
  left: 0;
  right: 0;
  @apply bg-yellow-50;
}
#home a::before, #home a::after {
  @apply bg-red-800;
}
footer a::before, footer a::after {
  width: calc(100% - 1rem);
  left: 1rem;
  @apply bg-yellow-400;
}
.details-list a::after, .no-results a::after, #home a::after, footer a::after {
  opacity: 1;
  transition: transform .8s cubic-bezier(.23,1,.32,1);
  transform: translateX(102%);
}
.details-list a::before, .no-results a::before, #home a::before, footer a::before {
  transform: translateX(-102%);
  opacity: 0;
}
.details-list a:hover::before, .no-results a:hover::before, #home a:hover::before, footer a:hover::before {
  transition: transform .8s cubic-bezier(.23,1,.32,1);
  transform: translateX(0);
  opacity: 1;
}
.details-list a:hover::after, .no-results a:hover::after, #home a:hover::after, footer a:hover::after {
  transition: none;
  transform: translateX(0);
  opacity: 0;
}
.err-404 {
  @apply flex flex-col items-center justify-evenly;
}
.err-404 h1 {
  @apply text-red-600 font-bold relative z-20;
  letter-spacing: .1em;
  font-size: max(10vw, 10vh);
  text-shadow: 1px 1px 0px #000000, 1px -1px 0px #000000, -1px 1px 0px #000000, -1px -1px 0px #000000, 2px 2px 0px #000000, 2px -2px 0px #000000, -2px 2px 0px #000000, -2px -2px 0px #000000, 3px 3px 0px #000000, 3px -3px 0px #000000, -3px 3px 0px #000000, -3px -3px 0px #000000, 4px 4px 0px #000000, 4px -4px 0px #000000, -4px 4px 0px #000000, -4px -4px 0px #000000, 5px 5px 0px #000000, 5px -5px 0px #000000, -5px 5px 0px #000000, -5px -5px 0px #000000, 6px 6px 0px #000000, 6px -6px 0px #000000, -6px 6px 0px #000000, -6px -6px 0px #000000;
}
.err-404 #covers img {
  max-width: initial;
  @apply border-0;
  width: 220px;
  transform: rotate(var(--angle));
}
.err-404 #covers {
  @apply w-full h-full absolute overflow-hidden grid grid-cols-8;
}
